<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Healthcare</title>
    <h1>Our Opinions on Healthcare</h1>
  </head>
  <body>
    <p>We think Healthcare should be free</p>
    <p>Or atleast the price reduced greatly your basicly paying to live which is not fair</p>
    <p>Healthcare should be a right not a privalege</p>
    <p>I say this because it provides maximum risk against the people and actually helps sick people over 8.5% of people dont have insurance</p>
    <p>Also one solution to this is our party likes medical marijuana so we tax marijuana heavily and put the tax during health care.</p>
    <p>Overall Healthcare Should be Universal with this system of taxes</p>

    <a href="https://healthcare.procon.org/">Pro and Cons of Health Care</a>
  </body>
</html>
