<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>civics project</title>
    <h1>The Modern Voice</h1>
  </head>
  <body>
    <h2>Who are we?</h2>
    <p>The Modern Voice is a Political Party based on bettering and affecting the future of America. The Modern Voice focuses on modern issues such as Abortion, Gun Control, and Minium Wage. </p>
  </body>
</html>
