<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="design.css">
    <title>civics project</title>
    <h1>The Party For The People</h1>
  </head>
  <body>
    <h2>Who are we?</h2>
  </body>
</html>
