<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>civics project</title>
    <h1>The Modern Voice</h1>
  </head>
  <body>
    <img src="/static/logo.png">
    <h2>Our Speech</h2>
    <p>The Modern Voice is a Political Party based on bettering and affecting the future of America. The Modern Voice focuses on modern issues such as Abortion, Gun Control, and Minium Wage. </p>
    <a href="http://localhost:1234/defense">Our views on Space and Defense</a> <br>
    <a href="http://localhost:1234/environment">Our views on the Environment</a> <br>
    <a href="http://localhost:1234/guncontrol">Our views on Gun Control</a> <br>
    <a href="http://localhost:1234/healthcare">Our views on Healthcare</a> <br>
    <a href="http://localhost:1234/immigration">Our views on Immigration</a> <br>
    <a href="http://localhost:1234/marriage">Our views on Same-Sex Marriage</a> <br>
    <a href="http://localhost:1234/punishment">Our views on Capital Punishment</a> <br>
    <a href="http://localhost:1234/social">Our views on Social Programs</a> <br>

  </body>
</html>
