<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Same-Sex Marriage</title>
    <h1>Our Opinions on Same-Sex Marriage</h1>
    <h2>By Tyler Siegmund</h2>
  </head>
  <body>
    <p>We support the people who engage in same-sex marriage.</p> <br>
    <p>We believe marriage should be legal for all. We say this because there are statistics that people diminish a sense of health differentials between same-sex and opposite-sex marriage.</p> <br>
    <p>Yes, Same-Sex marriage does sometimes break religious beliefs, however, for the bible, Jesus had specified to love everyone. This includes gay, lesbian, and straight people.</p> <br>
    <p>Also, we believe same-sex marriages deserve the rights to benefits. We believe this because of the hardships they went through in order to get these rights. For example, in 1950, people were investigated by the federal government, and the government stated that "those who engage in overt acts of perversion lack the emotional stability of normal persons."</p>
  </body>
  <h1>Sources: </h1>
  <a href="https://www.healthaffairs.org/doi/10.1377/hlthaff.2017.0502">The Health Effects Of Legalizing Same-Sex Marriage</a> <br>
  <a href="https://www.pewresearch.org/religion/2009/05/21/a-clash-of-rights-gay-marriage-and-the-free-exercise-of-religion/">A Clash of Rights? Gay Marriage and the Free Exercise of Religion</a> <br>
  <a href="https://www.cnbc.com/2015/07/03/gay-marriage-violates-religious-rules-not-true-commentary.html">Gay marriage violates religious rules? Not true</a> <br>
  <a href="https://www.pbs.org/wgbh/americanexperience/features/stonewall-milestones-american-gay-rights-movement/">Milestones in the American Gay Rights Movement</a> <br>

</html>
