<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Same-Sex Marriage</title>
    <h1>Our Opinions on Same-Sex Marriage</h1>
  </head>
  <body>
    <p>insert opinion here...</p>
  </body>
</html>
