<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Capital Punishment</title>
    <h1>Our Opinions on Capital Punishment</h1>
    <h2>By Tyler Siegmund</h2>
  </head>
  <body>
    <p>In this group, we do not support the death penalty. We believe the death penalty should be abolished. We say this because the death penalty is irreversible and can go wrong. You can't go back from sending someone to death.</p> <br>
    <p>The death penalty is considered cruel and unusual. The death penalty is considered, by the description of constituion in the 8th and 14th amendment, as a cruel and unusual punishment</p> <br>
    <p>Another point is that the government can save money by imprisoning rather than killing another person.</p>
  </body>
  <h1>Sources: </h1>
  <a href="https://www.amnesty.org/en/what-we-do/death-penalty/">WE KNOW THAT, TOGETHER, WE CAN END THE DEATH PENALTY EVERYWHERE.</a> <br>
  <a href="https://www.hg.org/legal-articles/which-is-cheaper-execution-or-life-in-prison-without-parole-31614">Which Is Cheaper, Execution or Life in Prison Without Parole?</a> <br>
</html>
