<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Social Programs</title>
    <h1>Our Opinions on Social Programs</h1>
  </head>
  <body>
    <p>We belive Soical Programs are important</p>
    <p>We say this because not everyone is rich and they need help</p>
    <p>Why should we keep Social Programs</p>
    <p>We should keep them so people who cant afford food can aford atleast some food</p>
    <p>It overall just helps people.</p>


      <a href="https://www.cato.org/commentary/one-bad-eight-good-reasons-cut-taxes">Impact of social programs</a>
  </body>
</html>
