<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/static/style.css">
    <title>Taxes</title>
    <h1>Our Opinion on taxes</h1>
  </head>
  <body>
    <p>We think taxes should be significantly lower</p>
    <p>We say this because taxes are annoying there not cheap either almost everything we buy is taxed and all the money we make is taxed heavily</p>
    <p>Reasons Why we should cut taxes</p>
    <p>We worked for this money its not fair for them to take it all</p>
    <p>High taxes discourage work and investment most economists agree a tax cut will increase output</p>
    <p>You may be wondering how are the governemnt gonna get money well from the medical marijuana we tax it heavily its not needed its just a drug</p>


  <a href="https://www.cato.org/commentary/one-bad-eight-good-reasons-cut-taxes">Pro and Cons of Cutting Taxes</a>
  </body>
</html>
